* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
body {
	height: 100vh;
	background: linear-gradient(
		0deg,
		rgba(22, 28, 34, 1) 0%,
		rgba(62, 80, 99, 1) 100%
	);
	background-repeat: no-repeat;
}
